//Side Overlay Css

.side_overlay{
    .modal-dialog{
        max-width: 750px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        margin: 0px;
        .modal-content{
            height: 100vh;
            min-width: 600px;
            border-radius: 0px;
            border: none;
            .modal-header{
                position: absolute;
                width: 100%;
                top: 0px;
                left: 0px;
                right: 0px;
                z-index: 9;
                height: 80px;
                @extend %white-bg;
                box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.06);
                border-radius: 0px;
                border-bottom: 0px;
                padding: 15px 30px;
            }
            .modal_close{
                border: 0px;
                background: transparent;
                padding: 5px;
                img{
                    width: 14px;
                }
            }
        }
    }
}
.modal-backdrop.show{
    opacity: .3;
}